

<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
  <head>
    <title>Simple example</title>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style type='text/css'>
        #sheet {
            border:1px solid black;
	    background:#FFFFFF;
        }
    </style>

  </head>
  <body>
    <h1 style="font-size:80px">ಅ</h1>
    <canvas id="sheet" width="400" height="400"></canvas>
	
	<button type="button" id="display">display</button>
	<button type="button" id="download">download</button>
	
  </body>




    <script type='text/javascript'>



	//const disbutton=document.querySelector("#display");
	//const downbutton=document.querySelector("#download");
	const canva=document.querySelector("#sheet");
	var dis = document.getElementById('display');
	var dow = document.getElementById('download');

        window.onload=function(){



var canvas = new fabric.Canvas('sheet');






            
            canvas.isDrawingMode = true;
            canvas.freeDrawingBrush.width = 10;
            canvas.freeDrawingBrush.color = "#000000";
	    //window.location = canvas.toDataURL("image/png");
        }

	//~ dis.addEventListener("click",function(){
	//~ const dataURI=canva.toDataURL("image/png");
	
	
	

	
	
	
	
	
	
	
	
	
	//~ console.log(dataURI);

//~ });




	$("#display").click(function(){
	   			//var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	   			var canvasObj = document.getElementById("sheet");
	   			var img = canvasObj.toDataURL();
	   			console.log(img);
	   			$.ajax({
	   				type: "POST",
	   				url: "http://localhost:5000/pos",
	   				//data: img,
	   				  data:{
						imageBase64: img
						},
	   				success: function(data) { 
                console.log(data);                    
            },
                cache: false,
				contentType: false,
				processData: false
	   			});
	   		});










	dow.addEventListener("click",function(){
	if(window.navigator.msSaveBlob){
		window.navigator.msSaveBlob(canva.msToBlob(),"can4.png");
}else{



var ctx = canva.getContext('2d');

// set the ctx to draw beneath your current content
ctx.globalCompositeOperation = 'destination-over';

// set the fill color to white
ctx.fillStyle = 'white';

// apply fill starting from point (0,0) to point (canvas.width,canvas.height)
// these two points are the top left and the bottom right of the canvas
ctx.fillRect(0, 0, canva.width, canva.height);

const a =document.createElement("a");
document.body.appendChild(a);
a.href=canva.toDataURL();
a.download="can4.png";
a.click();
document.body.removeChild(a);
}



});




    


	
    </script>
    
    
<!--
        <script type="text/javascript">
    
    $(document).ready(function() {   
   var search_word ="konfu";
   var qurl="http://localhost:5000/pos";
   $.ajax({
            type: "POST",
            cache: false,
            data:{keyword:search_word},
            url: qurl,
            dataType: "json",
            success: function(data) { 
                console.log(data);                    
            },
            error: function(jqXHR) {
                alert("error: " + jqXHR.status);
                console.log(jqXHR);            }
        })
});
    
    
    </script>
-->
</html>
